

.dna-header, #dna-header-bg, .dna-layout-cell, .dna-layout-wrapper, .dna-footer, .dna-nav, #dna-hmenu-bg, .dna-sheet,
.clearfix {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.dna-textblock > div {
   display: block;
   line-height: normal;
   zoom: 1;
}

.dna-header
{
   z-index: 1;
   background-image: [headerimage];
   background-position: [headerposition];
}

#dna-header-bg 
{
   display: none;
}

.dna-hmenu>li, .dna-hmenu>li>a
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}
ul.dna-hmenu, ul.dna-hmenu ul {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}
#dna-hmenu-bg 
{
   display: none;
}

ul.dna-hmenu>li:first-child {
   padding-right:1px;
}
ul.dna-hmenu>li{
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('span'),firstChild).className='dna-hmenu-separator');
}
ul.dna-hmenu>li>span.dna-hmenu-separator
{
   position:absolute;
   display: block;
   top:0;
   left:  -1px;
   width: 1px;
   height: 30px;
   background: url('images/menuseparator.png') center center no-repeat;
}
ul.dna-hmenu>li:first-child>span.dna-hmenu-separator
{
   display:none;
}

ul.dna-hmenu ul{
   background-color: #F1F2F3 !important;
}

.dna-content-layout, .dna-content-layout-row, .dna-layout-cell 
{
   display: block;
   zoom: 1;
}
.dna-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}

ul.dna-vmenu, ul.dna-vmenu ul, ul.dna-vmenu li{
   zoom: 1;
}

ul.dna-vmenu ul 
{
}

input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"]
{
   margin :0;
}

form.dna-search>input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.dna-search div>input[type="text"]
{
   width: 100%;
}

* html form.dna-search>input[type="text"] 
{
   margin :0;
}

form.dna-search
{
   zoom: 1;
}
.dna-postheadericons span{
   zoom: 1;
}
.dna-postcontent {
   height: 1%;
}

.close-alt, .arrow-right-alt, .arrow-left-alt {
   display: block !important;
}
.cw, .ccw {
   display: none !important;
}

.dna-sidebar1
{
   background: none !important;
   border: none !important;
   zoom:expression(runtimeStyle.zoom=1, parentNode.parentNode.insertBefore(document.createElement('div'),parentNode.parentNode.firstChild).className='dna-sidebar1-bg' + (className.indexOf('dna-sidebar1-fix') == -1 ? '' : ' dna-sidebar1-bg-fix' ));
}

.dna-sidebar1-bg 
{
   position:absolute;
   z-index:-2;
   direction: ltr;
   left:  0;
   bottom:0;
   top:0;
   width: 275px;
   overflow:hidden;
   display:block;
   background-color: #3B3E45;
}

.dna-content 
{
   width: auto;
   float:none;
}

