

#dna-main
{
   background: #FFFFFF;
   margin:0 auto;
   font-size: 13px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}
table, ul.dna-hmenu
{
   font-size: 13px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.dna-button
{
   border: 0;
   border-collapse: separate;
   -webkit-border-radius: 0;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #3B3E45;
   border-width: 0;
   padding:0 20px;
   margin:0 auto;
   height:31px;
}

.dna-postcontent,
.dna-postheadericons,
.dna-postfootericons,
.dna-blockcontent,
ul.dna-vmenu a 
{
   text-align: left;
}

.dna-postcontent,
.dna-postcontent li,
.dna-postcontent table,
.dna-postcontent a,
.dna-postcontent a:link,
.dna-postcontent a:visited,
.dna-postcontent a.visited,
.dna-postcontent a:hover,
.dna-postcontent a.hovered
{
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}

.dna-postcontent p
{
   margin: 13px 0;
}

.dna-postcontent h1, .dna-postcontent h1 a, .dna-postcontent h1 a:link, .dna-postcontent h1 a:visited, .dna-postcontent h1 a:hover,
.dna-postcontent h2, .dna-postcontent h2 a, .dna-postcontent h2 a:link, .dna-postcontent h2 a:visited, .dna-postcontent h2 a:hover,
.dna-postcontent h3, .dna-postcontent h3 a, .dna-postcontent h3 a:link, .dna-postcontent h3 a:visited, .dna-postcontent h3 a:hover,
.dna-postcontent h4, .dna-postcontent h4 a, .dna-postcontent h4 a:link, .dna-postcontent h4 a:visited, .dna-postcontent h4 a:hover,
.dna-postcontent h5, .dna-postcontent h5 a, .dna-postcontent h5 a:link, .dna-postcontent h5 a:visited, .dna-postcontent h5 a:hover,
.dna-postcontent h6, .dna-postcontent h6 a, .dna-postcontent h6 a:link, .dna-postcontent h6 a:visited, .dna-postcontent h6 a:hover,
.dna-blockheader .t, .dna-blockheader .t a, .dna-blockheader .t a:link, .dna-blockheader .t a:visited, .dna-blockheader .t a:hover,
.dna-vmenublockheader .t, .dna-vmenublockheader .t a, .dna-vmenublockheader .t a:link, .dna-vmenublockheader .t a:visited, .dna-vmenublockheader .t a:hover,
.dna-headline, .dna-headline a, .dna-headline a:link, .dna-headline a:visited, .dna-headline a:hover,
.dna-slogan, .dna-slogan a, .dna-slogan a:link, .dna-slogan a:visited, .dna-slogan a:hover,
.dna-postheader, .dna-postheader a, .dna-postheader a:link, .dna-postheader a:visited, .dna-postheader a:hover
{
   font-size: 22px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 120%;
}

.dna-postcontent a, .dna-postcontent a:link
{
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #3B3E45;
}

.dna-postcontent a:visited, .dna-postcontent a.visited
{
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #3B3E45;
}

.dna-postcontent  a:hover, .dna-postcontent a.hover
{
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #DA25A4;
}

.dna-postcontent h1
{
   color: #3B3E45;
   margin: 10px 0 0;
   font-size: 26px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.dna-blockcontent h1
{
   margin: 10px 0 0;
   font-size: 26px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.dna-postcontent h1 a, .dna-postcontent h1 a:link, .dna-postcontent h1 a:hover, .dna-postcontent h1 a:visited, .dna-blockcontent h1 a, .dna-blockcontent h1 a:link, .dna-blockcontent h1 a:hover, .dna-blockcontent h1 a:visited 
{
   font-size: 26px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.dna-postcontent h2
{
   color: #757B8A;
   margin: 10px 0 0;
   font-size: 22px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.dna-blockcontent h2
{
   margin: 10px 0 0;
   font-size: 22px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.dna-postcontent h2 a, .dna-postcontent h2 a:link, .dna-postcontent h2 a:hover, .dna-postcontent h2 a:visited, .dna-blockcontent h2 a, .dna-blockcontent h2 a:link, .dna-blockcontent h2 a:hover, .dna-blockcontent h2 a:visited 
{
   font-size: 22px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.dna-postcontent h3
{
   color: #DA25A4;
   margin: 10px 0 0;
   font-size: 20px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.dna-blockcontent h3
{
   margin: 10px 0 0;
   font-size: 20px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.dna-postcontent h3 a, .dna-postcontent h3 a:link, .dna-postcontent h3 a:hover, .dna-postcontent h3 a:visited, .dna-blockcontent h3 a, .dna-blockcontent h3 a:link, .dna-blockcontent h3 a:hover, .dna-blockcontent h3 a:visited 
{
   font-size: 20px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.dna-postcontent h4
{
   color: #606571;
   margin: 10px 0 0;
   font-size: 18px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.dna-blockcontent h4
{
   margin: 10px 0 0;
   font-size: 18px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.dna-postcontent h4 a, .dna-postcontent h4 a:link, .dna-postcontent h4 a:hover, .dna-postcontent h4 a:visited, .dna-blockcontent h4 a, .dna-blockcontent h4 a:link, .dna-blockcontent h4 a:hover, .dna-blockcontent h4 a:visited 
{
   font-size: 18px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.dna-postcontent h5
{
   color: #606571;
   margin: 10px 0 0;
   font-size: 15px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.dna-blockcontent h5
{
   margin: 10px 0 0;
   font-size: 15px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.dna-postcontent h5 a, .dna-postcontent h5 a:link, .dna-postcontent h5 a:hover, .dna-postcontent h5 a:visited, .dna-blockcontent h5 a, .dna-blockcontent h5 a:link, .dna-blockcontent h5 a:hover, .dna-blockcontent h5 a:visited 
{
   font-size: 15px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.dna-postcontent h6
{
   color: #B2B5BD;
   margin: 10px 0 0;
   font-size: 13px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.dna-blockcontent h6
{
   margin: 10px 0 0;
   font-size: 13px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.dna-postcontent h6 a, .dna-postcontent h6 a:link, .dna-postcontent h6 a:hover, .dna-postcontent h6 a:visited, .dna-blockcontent h6 a, .dna-blockcontent h6 a:link, .dna-blockcontent h6 a:hover, .dna-blockcontent h6 a:visited 
{
   font-size: 13px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

header, footer, article, nav, #dna-hmenu-bg, .dna-sheet, .dna-hmenu a, .dna-vmenu a, .dna-slidenavigator > a, .dna-checkbox:before, .dna-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, #dna-hmenu-bg, .dna-sheet, .dna-slidenavigator > a, .dna-checkbox:before, .dna-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height: 100%;
}

/**
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * https://github.com/necolas/normalize.css
 */

html {
   -ms-text-size-adjust: 100%;
   /* 2 */
    -webkit-text-size-adjust: 100%;
/* 2 */}

body
{
   padding: 0;
   margin:0;
   min-width: 700px;
   color: #3B3E45;
}

.dna-header:before, 
#dna-header-bg:before, 
.dna-layout-cell:before, 
.dna-layout-wrapper:before, 
.dna-footer:before, 
.dna-nav:before, 
#dna-hmenu-bg:before, 
.dna-sheet:before 
{
   width: 100%;
   content: " ";
   display: table;
   border-collapse: collapse;
   border-spacing: 0;
}

.dna-header:after, 
#dna-header-bg:after, 
.dna-layout-cell:after, 
.dna-layout-wrapper:after, 
.dna-footer:after, 
.dna-nav:after, 
#dna-hmenu-bg:after, 
.dna-sheet:after,
.cleared, .clearfix:after 
{
   clear: both;
   font: 0/0 serif;
   display: block;
   content: " ";
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .dna-postcontent li h1, .dna-blockcontent li h1 
{
   margin:1px;
} 
li h2, .dna-postcontent li h2, .dna-blockcontent li h2 
{
   margin:1px;
} 
li h3, .dna-postcontent li h3, .dna-blockcontent li h3 
{
   margin:1px;
} 
li h4, .dna-postcontent li h4, .dna-blockcontent li h4 
{
   margin:1px;
} 
li h5, .dna-postcontent li h5, .dna-blockcontent li h5 
{
   margin:1px;
} 
li h6, .dna-postcontent li h6, .dna-blockcontent li h6 
{
   margin:1px;
} 
li p, .dna-postcontent li p, .dna-blockcontent li p 
{
   margin:1px;
}


.dna-shapes
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: 0;
}

.dna-slider-inner {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.dna-slidenavigator > a {
   display: inline-block;
   vertical-align: middle;
   outline-style: none;
   font-size: 1px;
}

.dna-slidenavigator > a:last-child {
   margin-right: 0 !important;
}

.dna-object1302192435
{
    display: block;
    left: 0.11%;
    margin-left: 0px;
    position: absolute;
    top: 0px;
    width: 315px;
    height: 83px;
    background-image: url('images/object1302192435.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 1;
}

.default-responsive .dna-object1302192435
{
  display: none;
}





#dna-header-bg
{
   position: absolute;
   overflow:hidden;
   left:0;
   margin:0 auto;
   width: 100%;
   height: 85px;
   z-index: auto;
   background-position: center top;
   background-image: url('images/header.jpg');
   background-repeat: no-repeat;
}

#dna-hmenu-bg
{
   position: absolute;
   overflow: hidden;
   left: 0;
   margin: 0 auto;
   width: 100%;
   z-index: auto;
   border-radius: 0;
}

.dna-sheet
{
   background: #FFFFFF;
   margin:0 auto;
   position:relative;
   cursor:auto;
   width: 100%;
   min-width: 700px;
   max-width: 1920px;
   z-index: auto !important;
}

.dna-header
{
   margin:0 auto;
   background-repeat: no-repeat;
   height: 85px;
   background-image: url('images/header.jpg');
   background-position: center top;
   position: relative;
   z-index: auto !important;
}

.custom-responsive .dna-header
{
   background-image: url('images/header.jpg');
   background-position: center top;
}

.default-responsive .dna-header,
.default-responsive #dna-header-bg
{
   background-image: url('images/header.jpg');
   background-position: center center;
   background-size: cover;
}

.dna-header > .region, .dna-header > .block 
{
   position:absolute;
   z-index:101;
}

.dna-nav
{
   position: absolute;
   margin: 0;
   bottom:     0;
   width: 100%;
   z-index: 100;
}

ul.dna-hmenu a, ul.dna-hmenu a:link, ul.dna-hmenu a:visited, ul.dna-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.dna-hmenu, ul.dna-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.dna-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.dna-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.dna-hmenu:after, ul.dna-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.dna-hmenu, ul.dna-hmenu ul 
{
   min-height: 0;
}

ul.dna-hmenu 
{
   display: inline-block;
   vertical-align: bottom;
   padding-left: 0;
   padding-right: 0;
}

.dna-nav-inner:before 
{
   content:' ';
}

nav.dna-nav
{
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}

.dna-nav-inner{
   text-align: right;
   margin:0 auto;
}

.desktop .dna-nav
{
   padding-left: 0;
   padding-right: 0;
}

.dna-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: auto;
   background-position: center;
}

.dna-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: auto;
   background-position: center;
}

.dna-hmenu
{
   float: right;
}

.dna-menuitemcontainer
{
   margin:0 auto;
}
ul.dna-hmenu>li {
   margin-left: 1px;
}
ul.dna-hmenu>li:first-child {
   margin-left: 0;
}
ul.dna-hmenu>li:last-child, ul.dna-hmenu>li.last-child {
   margin-right: 0;
}

ul.dna-hmenu>li>a
{
   padding:0 22px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 30px;
   cursor: pointer;
   text-decoration: none;
   color: #FFFFFF;
   line-height: 30px;
   text-align: center;
}

.dna-hmenu>li>a, 
.dna-hmenu>li>a:link, 
.dna-hmenu>li>a:visited, 
.dna-hmenu>li>a.active, 
.dna-hmenu>li>a:hover
{
   font-size: 13px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   text-transform: uppercase;
   text-align: left;
}

ul.dna-hmenu>li>a.active
{
   padding:0 22px;
   margin:0 auto;
   color: #EFA3D9;
   text-decoration: none;
}

ul.dna-hmenu>li>a:visited, 
ul.dna-hmenu>li>a:hover, 
ul.dna-hmenu>li:hover>a {
   text-decoration: none;
}

ul.dna-hmenu>li>a:hover, .desktop ul.dna-hmenu>li:hover>a
{
   padding:0 22px;
   margin:0 auto;
}
ul.dna-hmenu>li>a:hover, 
.desktop ul.dna-hmenu>li:hover>a {
   color: #EFA3D9;
   text-decoration: none;
}

ul.dna-hmenu>li:before
{
   position:absolute;
   display: block;
   content:' ';
   top:0;
   left:  -1px;
   width:1px;
   height: 30px;
   background: url('images/menuseparator.png') center center no-repeat;
}
ul.dna-hmenu>li:first-child:before{
   display:none;
}

ul.dna-hmenu li li a
{
   background: #969BA6;
   background: transparent;
   padding:0 8px;
   margin:0 auto;
}
ul.dna-hmenu li li 
{
   float: none;
   width: auto;
   margin-top: 0;
   margin-bottom: 0;
}

.desktop ul.dna-hmenu li li ul>li:first-child 
{
   margin-top: 0;
}

ul.dna-hmenu li li ul>li:last-child 
{
   margin-bottom: 0;
}

.dna-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 24px;
   min-width: 7em;
   border: 0 solid transparent;
   text-align: left;
   line-height: 24px;
   color: #737987;
   font-size: 13px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

.dna-hmenu ul a:link, 
.dna-hmenu ul a:visited, 
.dna-hmenu ul a.active, 
.dna-hmenu ul a:hover
{
   text-align: left;
   line-height: 24px;
   color: #737987;
   font-size: 13px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

ul.dna-hmenu ul li a:hover, .desktop ul.dna-hmenu ul li:hover>a
{
   background: #FFFFFF;
   margin:0 auto;
}
.dna-hmenu ul a:hover
{
   text-decoration: none;
   color: #D1239D;
}

.desktop .dna-hmenu ul li:hover>a
{
   color: #D1239D;
}

ul.dna-hmenu ul:before
{
   background: #F1F2F3;
   border:1px solid #D6D8DC;
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}
.desktop ul.dna-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
.desktop ul.dna-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}

ul.dna-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('images/spacer.gif');
}

.desktop ul.dna-hmenu>li>ul
{
   padding: 12px 32px 32px 32px;
   margin: -10px 0 0 -30px;
}

.desktop ul.dna-hmenu ul ul
{
   padding: 32px 32px 32px 12px;
   margin: -32px 0 0 -9px;
}

.desktop ul.dna-hmenu ul.dna-hmenu-left-to-right 
{
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}

.desktop ul.dna-hmenu ul.dna-hmenu-right-to-left 
{
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

.desktop ul.dna-hmenu li li:hover>ul.dna-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
.desktop ul.dna-hmenu li li:hover>ul.dna-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

.desktop ul.dna-hmenu ul ul.dna-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 32px 32px 32px 12px;
   margin: -32px 0 0 -9px;
}

.desktop ul.dna-hmenu ul ul.dna-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 32px 12px 32px 32px;
   margin: -32px -9px 0 0;
}

.desktop ul.dna-hmenu li ul>li:first-child {
   margin-top: 0;
}
.desktop ul.dna-hmenu li ul>li:last-child {
   margin-bottom: 0;
}

.desktop ul.dna-hmenu ul ul:before
{
   border-radius: 0;
   top: 30px;
   bottom: 30px;
   right: 30px;
   left: 10px;
}

.desktop ul.dna-hmenu>li>ul:before
{
   top: 10px;
   right: 30px;
   bottom: 30px;
   left: 30px;
}

.desktop ul.dna-hmenu>li>ul.dna-hmenu-left-to-right:before {
   right: 30px;
   left: 30px;
}
.desktop ul.dna-hmenu>li>ul.dna-hmenu-right-to-left:before {
   right: 30px;
   left: 30px;
}
.desktop ul.dna-hmenu ul ul.dna-hmenu-left-to-right:before {
   right: 30px;
   left: 10px;
}
.desktop ul.dna-hmenu ul ul.dna-hmenu-right-to-left:before {
   right: 10px;
   left: 30px;
}

.dna-layout-wrapper
{
   position: relative;
   margin: 0 auto 0 auto;
   z-index: auto !important;
}

.dna-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
}

.dna-content-layout-row 
{
   display: table-row;
}

.dna-layout-cell
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   display: table-cell;
   vertical-align: top;
}

/* need only for content layout in post content */ 
.dna-postcontent .dna-content-layout
{
   border-collapse: collapse;
}

.dna-vmenublock
{
   border:1px solid transparent;
}
div.dna-vmenublock img
{
   margin: 0;
}

.dna-vmenublockcontent
{
   margin:0 auto;
}

ul.dna-vmenu, ul.dna-vmenu ul
{
   list-style: none;
   display: block;
}

ul.dna-vmenu, ul.dna-vmenu li
{
   display: block;
   margin: 0;
   padding: 0;
   width: auto;
   line-height: 0;
}

ul.dna-vmenu
{
   margin-top: 0;
   margin-bottom: 0;
}

ul.dna-vmenu ul
{
   display: none;
   margin: 0;
   padding: 0;
   position: relative;
}

ul.dna-vmenu ul.active
{
   display: block;
}

ul.dna-vmenu>li>a
{
   padding:0 15px;
   margin:0 auto;
   font-size: 16px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #FFFFFF;
   min-height: 45px;
   line-height: 45px;
}
ul.dna-vmenu a 
{
   display: block;
   cursor: pointer;
   z-index: 1;
   position:relative;
}

ul.dna-vmenu li{
   position:relative;
}

ul.dna-vmenu>li
{
   margin-top: 5px;
}
ul.dna-vmenu>li>ul
{
   padding: 0;
   margin-top: 5px;
   margin-bottom: 5px;
}
ul.dna-vmenu>li:first-child
{
   margin-top:0;
}

ul.dna-vmenu>li>a:hover, ul.dna-vmenu>li>a.active:hover
{
   padding:0 15px;
   margin:0 auto;
}
ul.dna-vmenu>li>a:hover, ul.dna-vmenu>li>a.active:hover
{
   text-decoration: none;
}

ul.dna-vmenu a:hover, ul.dna-vmenu a.active:hover 
{
   color: #FFFFFF;
}

ul.dna-vmenu>li>a.active:hover>span.border-top, ul.dna-vmenu>li>a.active:hover>span.border-bottom 
{
   background-color: transparent;
}

ul.dna-vmenu>li>a.active
{
   background: #D1239D;
   padding:0 15px;
   margin:0 auto;
   text-decoration: none;
   color: #FFFFFF;
}

ul.dna-vmenu>li>ul:before
{
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

ul.dna-vmenu li li a
{
   background: #BABDC4;
   margin:0 auto;
   position: relative;
}
ul.dna-vmenu ul li
{
   margin: 0;
   padding: 0;
}
ul.dna-vmenu li li{
   position: relative;
   margin-top: 0;
}

ul.dna-vmenu ul a
{
   display: block;
   position: relative;
   min-height: 22px;
   overflow: visible;
   padding: 0;
   padding-left: 27px;
   padding-right: 27px;
   z-index: 0;
   line-height: 22px;
   color: #464A53;
   font-size: 13px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   margin-left: 0;
   margin-right: 0;
}

ul.dna-vmenu ul a:visited, ul.dna-vmenu ul a.active:hover, ul.dna-vmenu ul a:hover, ul.dna-vmenu ul a.active
{
   line-height: 22px;
   color: #464A53;
   font-size: 13px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   margin-left: 0;
   margin-right: 0;
}

ul.dna-vmenu ul ul a
{
   padding-left: 54px;
}
ul.dna-vmenu ul ul ul a
{
   padding-left: 81px;
}
ul.dna-vmenu ul ul ul ul a
{
   padding-left: 108px;
}
ul.dna-vmenu ul ul ul ul ul a
{
   padding-left: 135px;
}

ul.dna-vmenu ul>li>a:hover, ul.dna-vmenu ul>li>a.active:hover
{
   background: #F1F2F3;
   margin:0 auto;
}
ul.dna-vmenu ul li a:hover, ul.dna-vmenu ul li a.active:hover
{
   text-decoration: none;
   color: #D1239D;
}

ul.dna-vmenu ul a:hover:after
{
   background-position: center ;
}
ul.dna-vmenu ul a.active:hover:after
{
   background-position: center ;
}
ul.dna-vmenu ul a.active:after
{
   background-position: bottom ;
}

ul.dna-vmenu ul>li>a.active
{
   background: #969BA6;
   margin:0 auto;
}
ul.dna-vmenu ul a.active, ul.dna-vmenu ul a:hover, ul.dna-vmenu ul a.active:hover
{
   text-decoration: none;
   color: #6D1252;
}

.dna-block
{
   margin:3px;
}
div.dna-block img
{
   border: none;
   margin: 0;
}

.dna-blockheader
{
   padding:6px 5px;
   margin:0 auto 2px;
}
.dna-blockheader .t,
.dna-blockheader .t a,
.dna-blockheader .t a:link,
.dna-blockheader .t a:visited, 
.dna-blockheader .t a:hover
{
   color: #FFFFFF;
   font-size: 20px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   margin: 0 5px;
}

.dna-blockcontent
{
   padding:5px;
   margin:0 auto;
   color: #D3D5D9;
   font-size: 13px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}
.dna-blockcontent table,
.dna-blockcontent li, 
.dna-blockcontent a,
.dna-blockcontent a:link,
.dna-blockcontent a:visited,
.dna-blockcontent a:hover
{
   color: #D3D5D9;
   font-size: 13px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}

.dna-blockcontent p
{
   margin: 0 5px;
}

.dna-blockcontent a, .dna-blockcontent a:link
{
   color: #E773C5;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.dna-blockcontent a:visited, .dna-blockcontent a.visited
{
   color: #FFFFFF;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.dna-blockcontent a:hover, .dna-blockcontent a.hover
{
   color: #E151B6;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}
.dna-block ul>li:before
{
   content:url('images/blockbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -12px;
}
.opera .dna-block ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.dna-block li
{
   font-size: 13px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
   color: #EEEFF1;
   margin: 5px 0 0 10px;
}

.dna-block ul>li, .dna-block ol
{
   padding: 0;
}

.dna-block ul>li
{
   padding-left: 12px;
}

.dna-breadcrumbs
{
   margin:0 auto;
}

a.dna-button,
a.dna-button:link,
a:link.dna-button:link,
body a.dna-button:link,
a.dna-button:visited,
body a.dna-button:visited,
input.dna-button,
button.dna-button
{
   text-decoration: none;
   font-size: 14px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #FFFFFF;
   margin: 0 5px 0 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 31px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.dna-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .dna-button
{
   display: block;
   float: left;
}

input, select, textarea, a.dna-search-button span
{
   vertical-align: middle;
   font-size: 14px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.dna-block select 
{
   width:96%;
}

input.dna-button
{
   float: none !important;
   -webkit-appearance: none;
}

.dna-button.active, .dna-button.active:hover
{
   background: #3B3E45;
   border-width: 0;
   padding:0 20px;
   margin:0 auto;
}
.dna-button.active, .dna-button.active:hover {
   color: #FFFFFF !important;
}

.dna-button.hover, .dna-button:hover
{
   background: #676D79;
   border-width: 0;
   padding:0 20px;
   margin:0 auto;
}
.dna-button.hover, .dna-button:hover {
   color: #FFFFFF !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"], input[type="tel"], input[type="time"], input[type="week"], textarea
{
   border:1px solid #3B3E45;
   margin:0 auto;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"], input[type="tel"], input[type="time"], input[type="week"], textarea
{
   width: 100%;
   padding: 8px 0;
   color: #3B3E45 !important;
   font-size: 13px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-shadow: none;
}
input.dna-error, textarea.dna-error
{
   background: #F9FAFA;
   border:1px solid #E2341D;
   margin:0 auto;
}
input.dna-error, textarea.dna-error {
   color: #4B4F58 !important;
   font-size: 13px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.dna-search input[type="text"]
{
   border-radius: 0;
   border:1px solid #3B3E45;
   margin:0 auto;
   width: 100%;
   padding: 8px 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color: #3B3E45 !important;
   font-size: 13px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.dna-search 
{
   background-image: none;
   border: 0;
   display:block;
   position:relative;
   top:0;
   padding:0;
   margin:5px;
   left:0;
   line-height: 0;
}

form.dna-search input, a.dna-search-button
{
   -webkit-appearance: none;
   top:0;
   right:0;
}

form.dna-search>input, a.dna-search-button{
   bottom:0;
   left:0;
   vertical-align: middle;
}

form.dna-search input[type="submit"], input.dna-search-button, a.dna-search-button
{
   border-radius: 0;
   margin:0 auto;
}
form.dna-search input[type="submit"], input.dna-search-button, a.dna-search-button {
   position:absolute;
   left:auto;
   display:block;
   border:none;
   background:url('images/searchicon.png') center center no-repeat;
   width:24px;
   height: 100%;
   padding:0;
   color: #3B3E45 !important;
   cursor: pointer;
}

a.dna-search-button span.dna-search-button-text {
   display: none;
}

label.dna-checkbox:before
{
   background: #F9FAFA;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
}
label.dna-checkbox
{
   cursor: pointer;
   font-size: 13px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   display: inline-block;
   color: #3B3E45 !important;
}

.dna-checkbox>input[type="checkbox"]
{
   margin: 0 5px 0 0;
}

label.dna-checkbox.active:before
{
   background: #E773C5;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.dna-checkbox.hovered:before
{
   background: #BABDC4;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.dna-radiobutton:before
{
   background: #F9FAFA;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   margin:0 auto;
   width:12px;
   height:12px;
}
label.dna-radiobutton
{
   cursor: pointer;
   font-size: 13px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 12px;
   display: inline-block;
   color: #3B3E45 !important;
}

.dna-radiobutton>input[type="radio"]
{
   vertical-align: baseline;
   margin: 0 5px 0 0;
}

label.dna-radiobutton.active:before
{
   background: #969BA6;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

label.dna-radiobutton.hovered:before
{
   background: #BABDC4;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border-width: 0;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

.dna-comments
{
   border-top:1px dotted #7E8391;
   margin:0 auto;
   margin-top: 25px;
}

.dna-comments h2
{
   color: #26272C;
}

.dna-comment-inner
{
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   padding:5px;
   margin:0 auto;
   margin-left: 96px;
}
.dna-comment-avatar 
{
   float:left;
   width:80px;
   height:80px;
   padding:2px;
   background:#fff;
   border:1px solid #E6E7EA;
}

.dna-comment-avatar>img
{
   margin:0 !important;
   border:none !important;
}

.dna-comment-content
{
   padding:10px 0;
   color: #3B3E45;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.dna-comment
{
   margin-top: 6px;
}

.dna-comment:first-child
{
   margin-top: 0;
}

.dna-comment-header
{
   color: #26272C;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 100%;
}

.dna-comment-header a, 
.dna-comment-header a:link, 
.dna-comment-header a:visited,
.dna-comment-header a.visited,
.dna-comment-header a:hover,
.dna-comment-header a.hovered
{
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 100%;
}

.dna-comment-header a, .dna-comment-header a:link
{
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   color: #7E8391;
}

.dna-comment-header a:visited, .dna-comment-header a.visited
{
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #7E8391;
}

.dna-comment-header a:hover,  .dna-comment-header a.hovered
{
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #7E8391;
}

.dna-comment-content a, 
.dna-comment-content a:link, 
.dna-comment-content a:visited,
.dna-comment-content a.visited,
.dna-comment-content a:hover,
.dna-comment-content a.hovered
{
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.dna-comment-content a, .dna-comment-content a:link
{
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #B31E86;
}

.dna-comment-content a:visited, .dna-comment-content a.visited
{
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #4D515B;
}

.dna-comment-content a:hover,  .dna-comment-content a.hovered
{
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #B31E86;
}

.dna-pager
{
   background: #F1F2F3;
   background: transparent;
   padding:6px;
   margin:2px;
   text-align:right;
}

.dna-pager>*:last-child
{
   margin-right:0 !important;
}

.dna-pager>span {
   cursor:default;
}

.dna-pager>*
{
   background: #3B3E45;
   padding:10px;
   margin:0 4px 0 auto;
   line-height: normal;
   position:relative;
   display:inline-block;
   margin-left: 0;
}

.dna-pager a:link,
.dna-pager a:visited,
.dna-pager .active
{
   line-height: normal;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #C5C8CE
;
}

.dna-pager .active
{
   background: #D1239D;
   padding:10px;
   margin:0 4px 0 auto;
   color: #FFFFFF
;
}

.dna-pager .more
{
   background: #FFFFFF;
   margin:0 4px 0 auto;
}
.dna-pager a.more:link,
.dna-pager a.more:visited
{
   color: #3B3E45
;
}
.dna-pager a:hover
{
   background: #D1239D;
   padding:10px;
   margin:0 4px 0 auto;
}
.dna-pager  a:hover,
.dna-pager  a.more:hover
{
   text-decoration: none;
   color: #000000
;
}
.dna-pager>*:after
{
   margin:0 0 0 auto;
   display:inline-block;
   position:absolute;
   content: ' ';
   top:0;
   width:0;
   height:100%;
   right: 0;
   text-decoration:none;
}

.dna-pager>*:last-child:after{
   display:none;
}

.dna-commentsform
{
   background: #E6E7EA;
   background: transparent;
   padding:10px;
   margin:0 auto;
   margin-top:25px;
   color: #26272C;
}

.dna-commentsform h2{
   padding-bottom:10px;
   margin: 0;
   color: #26272C;
}

.dna-commentsform label {
   display: inline-block;
   line-height: 25px;
}

.dna-commentsform input:not([type=submit]), .dna-commentsform textarea {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   width:100%;
   max-width:100%;
}

.dna-commentsform .form-submit
{
   margin-top: 10px;
}
.dna-post
{
   padding:5px;
}
a img
{
   border: 0;
}

.dna-article img, img.dna-article, .dna-block img, .dna-footer img
{
   margin: 7px 7px 7px 7px;
}

.dna-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.dna-article table, table.dna-article
{
   border-collapse: collapse;
   margin: 1px;
}

.dna-post .dna-content-layout-br
{
   height: 0;
}

.dna-article th, .dna-article td
{
   padding: 2px;
   border: solid 1px #BABDC4;
   vertical-align: top;
   text-align: left;
}

.dna-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.image-caption-wrapper
{
   padding: 7px 7px 7px 7px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper img
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper div.dna-collage
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper p
{
   font-size: 80%;
   text-align: right;
   margin: 0;
}

.dna-postheader
{
   color: #606571;
   margin: 5px 10px;
   font-size: 24px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.dna-postheader a, 
.dna-postheader a:link, 
.dna-postheader a:visited,
.dna-postheader a.visited,
.dna-postheader a:hover,
.dna-postheader a.hovered
{
   font-size: 24px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.dna-postheader a, .dna-postheader a:link
{
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #E359BA;
}

.dna-postheader a:visited, .dna-postheader a.visited
{
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #838995;
}

.dna-postheader a:hover,  .dna-postheader a.hovered
{
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #E255B8;
}

.dna-postheadericons,
.dna-postheadericons a,
.dna-postheadericons a:link,
.dna-postheadericons a:visited,
.dna-postheadericons a:hover
{
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #606571;
}

.dna-postheadericons
{
   padding: 1px;
   margin: 0 0 0 10px;
}

.dna-postheadericons a, .dna-postheadericons a:link
{
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #E048B2;
}

.dna-postheadericons a:visited, .dna-postheadericons a.visited
{
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   color: #6C727F;
}

.dna-postheadericons a:hover, .dna-postheadericons a.hover
{
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: underline;
   color: #C92297;
}

.dna-postpdficon:before
{
   content:url('images/postpdficon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .dna-postpdficon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.dna-postprinticon:before
{
   content:url('images/postprinticon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .dna-postprinticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.dna-postcontent ul>li:before,  .dna-post ul>li:before,  .dna-textblock ul>li:before
{
   content:url('images/postbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .dna-postcontent ul>li:before, .opera   .dna-post ul>li:before, .opera   .dna-textblock ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.dna-postcontent li, .dna-post li, .dna-textblock li
{
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #3B3E45;
   margin: 3px 0 0 11px;
}

.dna-postcontent ul>li, .dna-post ul>li, .dna-textblock ul>li, .dna-postcontent ol, .dna-post ol, .dna-textblock ol
{
   padding: 0;
}

.dna-postcontent ul>li, .dna-post ul>li, .dna-textblock ul>li
{
   padding-left: 11px;
}

.dna-postcontent ul>li:before,  .dna-post ul>li:before,  .dna-textblock ul>li:before
{
   margin-left: -11px;
}

.dna-postcontent ol, .dna-post ol, .dna-textblock ol, .dna-postcontent ul, .dna-post ul, .dna-textblock ul
{
   margin: 1em 0 1em 11px;
}

.dna-postcontent li ol, .dna-post li ol, .dna-textblock li ol, .dna-postcontent li ul, .dna-post li ul, .dna-textblock li ul
{
   margin: 0.5em 0 0.5em 11px;
}

.dna-postcontent li, .dna-post li, .dna-textblock li
{
   margin: 3px 0 0 0;
}

.dna-postcontent ol>li, .dna-post ol>li, .dna-textblock ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.dna-postcontent ul>li, .dna-post ul>li, .dna-textblock ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

blockquote
{
   background: #F1F2F3 url('images/postquote.png') no-repeat scroll;
   padding:10px 10px 10px 47px;
   margin:10px 0 0 25px;
   color: #101113;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}
blockquote a, .dna-postcontent blockquote a, .dna-blockcontent blockquote a, .dna-footer blockquote a,
blockquote a:link, .dna-postcontent blockquote a:link, .dna-blockcontent blockquote a:link, .dna-footer blockquote a:link,
blockquote a:visited, .dna-postcontent blockquote a:visited, .dna-blockcontent blockquote a:visited, .dna-footer blockquote a:visited,
blockquote a:hover, .dna-postcontent blockquote a:hover, .dna-blockcontent blockquote a:hover, .dna-footer blockquote a:hover
{
   color: #101113;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
}

/* Override native 'p' margins*/
blockquote p,
.dna-postcontent blockquote p,
.dna-blockcontent blockquote p,
.dna-footer blockquote p
{
   margin: 0;
   margin: 5px 0;
}

.dna-postdatepickericon:before
{
   content:url('images/postdatepickericon.png');
   margin-right:6px;
   bottom: 0;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .dna-postdatepickericon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.dna-postdatepickerlefticon:before
{
   content:url('images/postdatepickerlefticon.png');
   margin-right:6px;
   bottom: 0;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .dna-postdatepickerlefticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.dna-postdatepickerrighticon:before
{
   content:url('images/postdatepickerrighticon.png');
   margin-right:6px;
   bottom: 0;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .dna-postdatepickerrighticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.Navigator .dna-ccs-navigator img, .Navigator img
{
   border: 0;
   margin: 0;
   vertical-align: middle;
}
tr.Navigator td, td span.Navigator
{
   text-align: center;
   vertical-align: middle;
}

.dna-postslider1icon:before
{
   content:url('images/postslider1icon.png');
   margin-right:6px;
   bottom: 0;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .dna-postslider1icon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.dna-postslider2icon:before
{
   content:url('images/postslider2icon.png');
   margin-right:6px;
   bottom: 0;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .dna-postslider2icon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.dna-postslider3icon:before
{
   content:url('images/postslider3icon.png');
   margin-right:6px;
   bottom: 0;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .dna-postslider3icon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.dna-postslider4icon:before
{
   content:url('images/postslider4icon.png');
   margin-right:6px;
   bottom: 0;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .dna-postslider4icon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.dna-postslider5icon:before
{
   content:url('images/postslider5icon.png');
   margin-right:6px;
   bottom: 0;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .dna-postslider5icon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.dna-postslider6icon:before
{
   content:url('images/postslider6icon.png');
   margin-right:6px;
   bottom: 0;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .dna-postslider6icon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.dna-postslider7icon:before
{
   content:url('images/postslider7icon.png');
   margin-right:6px;
   bottom: 0;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .dna-postslider7icon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.dna-postsliderscicon:before
{
   content:url('images/postsliderscicon.png');
   margin-right:6px;
   bottom: 0;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .dna-postsliderscicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.dna-postsliderseicon:before
{
   content:url('images/postsliderseicon.png');
   margin-right:6px;
   bottom: 0;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .dna-postsliderseicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.Sorter img
{
   border:0;
   vertical-align:middle;
   padding:0;
   margin:0;
   position:static;
   z-index:1;
   width: 12px;
   height: 6px;
}

.Sorter a
{
   position:relative;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #6C727F;
}

.Sorter a:link
{
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #6C727F;
}

.Sorter a:visited, .Sorter a.visited
{
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #6C727F;
}

.Sorter a:hover, .Sorter a.hover
{
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #525660;
}

.Sorter
{
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color:#3B3E45;
}

.dna-footer
{
   background: #3B3E45;
   margin:0 auto;
   position: relative;
   color: #FFFFFF;
   font-size: 13px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
   text-align: right;
   padding: 0;
}

.dna-footer a,
.dna-footer a:link,
.dna-footer a:visited,
.dna-footer a:hover,
.dna-footer td, 
.dna-footer th,
.dna-footer caption
{
   color: #FFFFFF;
   font-size: 13px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}

.dna-footer p 
{
   padding:0;
   text-align: right;
}

.dna-footer a,
.dna-footer a:link
{
   color: #A7ABB4;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.dna-footer a:visited
{
   color: #9196A1;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.dna-footer a:hover
{
   color: #E773C5;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
}

.dna-footer h1
{
   color: #676D79;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.dna-footer h2
{
   color: #7E8391;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.dna-footer h3
{
   color: #E048B2;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.dna-footer h4
{
   color: #969BA6;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.dna-footer h5
{
   color: #969BA6;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.dna-footer h6
{
   color: #969BA6;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.dna-footer img
{
   border: none;
   margin: 0;
}

.dna-footer-inner
{
   margin: 0 auto;
   min-width: 700px;
   max-width: 1920px;
   width:100%;
   padding:5px;
   padding-right: 5px;
   padding-left: 5px;
}

.dna-rss-tag-icon
{
   background:  url('images/footerrssicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.dna-rss-tag-icon:empty
{
   vertical-align: middle;
}

.dna-facebook-tag-icon
{
   background:  url('images/footerfacebookicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.dna-facebook-tag-icon:empty
{
   vertical-align: middle;
}

.dna-twitter-tag-icon
{
   background:  url('images/footertwittericon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.dna-twitter-tag-icon:empty
{
   vertical-align: middle;
}

.dna-tumblr-tag-icon
{
   background:  url('images/tumblricon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.dna-tumblr-tag-icon:empty
{
   vertical-align: middle;
}

.dna-pinterest-tag-icon
{
   background:  url('images/pinteresticon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.dna-pinterest-tag-icon:empty
{
   vertical-align: middle;
}

.dna-vimeo-tag-icon
{
   background:  url('images/vimeoicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:33px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.dna-vimeo-tag-icon:empty
{
   vertical-align: middle;
}

.dna-youtube-tag-icon
{
   background:  url('images/youtubeicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.dna-youtube-tag-icon:empty
{
   vertical-align: middle;
}

.dna-linkedin-tag-icon
{
   background:  url('images/linkedinicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.dna-linkedin-tag-icon:empty
{
   vertical-align: middle;
}

.dna-footer ul>li:before
{
   content:url('images/footerbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -13px;
}
.opera .dna-footer ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.dna-footer li
{
   font-size: 13px;
   font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #F7CFEB;
}

.dna-footer ul>li, .dna-footer ol
{
   padding: 0;
}

.dna-footer ul>li
{
   padding-left: 13px;
}

.dna-page-footer, 
.dna-page-footer a,
.dna-page-footer a:link,
.dna-page-footer a:visited,
.dna-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #D0D2D7;
}

.dna-page-footer
{
   position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #BABDC4;
}

.dna-lightbox-wrapper 
{
   background: #333;
   background: rgba(0, 0, 0, .8);
   bottom: 0;
   left: 0;
   padding: 0 100px;
   position: fixed;
   right: 0;
   text-align: center;
   top: 0;
   z-index: 1000000;
}

.dna-lightbox,
.dna-lightbox-wrapper .dna-lightbox-image
{
   cursor: pointer;
}

.dna-lightbox-wrapper .dna-lightbox-image
{
   border: 6px solid #fff;
   border-radius: 3px;
   display: none;
   max-width: 100%;
   vertical-align: middle;
}

.dna-lightbox-wrapper .dna-lightbox-image.active
{
   display: inline-block;
}

.dna-lightbox-wrapper .lightbox-error
{
   background: #fff;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   height: 80px;
   opacity: .95;
   padding: 20px;
   position: fixed;
   width: 300px;
   z-index: 100;
}

.dna-lightbox-wrapper .loading
{
   background: #fff url('images/preloader-01.gif') center center no-repeat;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   height: 32px;
   opacity: .5;
   padding: 10px;
   position: fixed;
   width: 32px;
   z-index: 10100;
}

.dna-lightbox-wrapper .arrow
{
   cursor: pointer;
   height: 100px;
   opacity: .5;
   filter: alpha(opacity=50);
   position: fixed;
   width: 82px;
   z-index: 10003;
}

.dna-lightbox-wrapper .arrow.left
{
   left: 9px;
}

.dna-lightbox-wrapper .arrow.right
{
   right: 9px;
}

.dna-lightbox-wrapper .arrow:hover
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.dna-lightbox-wrapper .arrow.disabled 
{
   display: none;
}

.dna-lightbox-wrapper .arrow-t, 
.dna-lightbox-wrapper .arrow-b
{
   background-color: #fff;
   border-radius: 3px;
   height: 6px;
   left: 26px;
   position: relative;
   width: 30px;
}

.dna-lightbox-wrapper .arrow-t
{
   top: 38px;
}

.dna-lightbox-wrapper .arrow-b
{
   top: 50px;
}

.dna-lightbox-wrapper .close
{
   cursor: pointer;
   height: 22px;
   opacity: .5;
   filter: alpha(opacity=50);
   position: fixed;
   right: 39px;
   top: 30px;
   width: 22px;
   z-index: 10003;
}

.dna-lightbox-wrapper .close:hover 
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.dna-lightbox-wrapper .close .cw, 
.dna-lightbox-wrapper .close .ccw
{
   background-color: #fff;
   border-radius: 3px;
   height: 6px;
   position: absolute;
   left: -4px;
   top: 8px;
   width: 30px;
}

.dna-lightbox-wrapper .cw
{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   /* IE 9 */
    -webkit-transform: rotate(45deg);
   /* Safari and Chrome */
    -o-transform: rotate(45deg);
   /* Opera */
    -moz-transform: rotate(45deg);
/* Firefox */}

.dna-lightbox-wrapper .ccw
{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   /* IE 9 */
    -webkit-transform: rotate(-45deg);
   /* Safari and Chrome */
    -o-transform: rotate(-45deg);
   /* Opera */
    -moz-transform: rotate(-45deg);
/* Firefox */}

.dna-lightbox-wrapper .close-alt, 
.dna-lightbox-wrapper .arrow-right-alt, 
.dna-lightbox-wrapper .arrow-left-alt 
{
   color: #fff;
   display: none;
   font-size: 2.5em;
   line-height: 100%;
}

.ie8 .dna-lightbox-wrapper .close-alt, 
.ie8 .dna-lightbox-wrapper .arrow-right-alt, 
.ie8 .dna-lightbox-wrapper .arrow-left-alt 
{
   display: block;
}

.ie8 .dna-lightbox-wrapper .cw, 
.ie8 .dna-lightbox-wrapper .ccw 
{
   display: none;
}

.dna-content-layout .dna-sidebar1
{
   background: #3B3E45;
   margin:0 auto;
   width: 275px;
}

.dna-content-layout .dna-content
{
   margin:0 auto;
}

/* Begin Additional CSS Styles */

/* End Additional CSS Styles */

body.toolbar-drawer 
{
    padding-top: 65px !important;
}

table
{
	width: 100%;
}

ul li, .item-list ul li, .menu ul li,
ul li.expanded, ul li.leaf, ul li.collapsed,
li.expanded, li.leaf, li.collapsed
{
	text-align: left;
	list-style-type: none;
	list-style-image: none;
}

ul.arttabs_primary, ul.arttabs_secondary, .links, img.service-links
{
	padding-left: 0;
	margin-left: 0;
}

ul.arttabs_primary li, ul.arttabs_secondary li
{
	display: inline;
}

ul.arttabs_primary li:before, ul.arttabs_secondary li:before
{
    content: ' ';
	margin-left: 6px;
}

ul.links
{
	overflow: hidden;
}

ul.links li, .block ul
{
	background-image: none;
	padding: 0;
}

ul.menu li a.active
{
	font-weight: bold;
}

#tinymce body ul, #tinymce body.mceContentBody ul, body.mceContentBody ul
{
  margin: 1em 0 1em 2em;
}

li.messages
{
	margin: 5px 0;
}

#user-login-form
{
	text-align: left;
}

#user-login-form ul li
{
	background-image: none;
	padding-left: 0;
}

/* Fix fieldset for IE8 and FFox */
fieldset, fieldset legend
{
	display: block;
}

.breadcrumb
{
	display: block;
	padding-bottom: .7em;
}

#preview-args
{
	width: auto;
}

.tags
{
	float: left;
}

.messages
{
	padding: 5px;
	margin: 5px 0;
}

.status
{
	border: 1px solid #090;
	background: #C9FBC8;
	margin: 5px 0;
}

tr.even, tr.odd
{
	background-color: transparent;
}

#forum .links li
{
	float: none;
	clear: both;
}

#forum table
{
	width: auto;
	margin-top: 15px;
}

#forum td.container
{
	padding-top: 15px;
	border-left: none;
	border-right: none;
}

#forum td.active
{
	background-color: transparent;
}

#forum td.forum, #forum td.topics, #forum td.posts, #forum td.last-reply
{
	padding-top: 4px;
	padding-bottom: 4px;
}

#forum td.container
{
	font-weight: bold;
}

#forum td.active
{
	background-color: transparent;
}

.forum-topic-navigation
{
	border-top: 0 transparent;
	border-bottom: 0 transparent;
}

.forum-topic-navigation .topic-previous
{
	text-align: left;
	float: left;
}

.forum-topic-navigation .topic-next
{
	text-align: right;
	float: right;
}

.read_more
{
	margin: 5px 0;
	text-align: left;
}

.sticky-table H2
{
	font-size: 10px;
}

#footer
{
	text-align: center;
}

.filefield-upload .dna-button-wrapper
{
	top: 10px;
}

.uc_out_of_stock_throbbing
{
	position: absolute;
	z-index: 1;
	top: 16%;
	left: 3px;
	margin: 0;
	padding: 0;
}

.profile h3
{
	border-bottom: 0 none;
	margin-bottom: 1em;
}

/* BEGIN Image Attach module fix */
img.image
{
	margin: 0;
}

.image-attach-teaser
{
	width: auto;
}
/* END Image Attach module fix */

/* BEGIN ImageField module fix */
img.imagefield
{
	margin: 0;
}
/* END ImageField module fix */

/* BEGIN Support User picture */
.picture, .comment .submitted
{
	clear: right;
	float: right;
}
/* END Support User picture */

/* BEGIN Support Nodeblock module */
.dna-block-body .dna-post
{
	margin: 0;
}
/* END Support Nodeblock module */

/* BEGIN Support floating panels in IE8 */
.panel-col-last
{
	clear: right;
}
/* END Support floating panels in IE8 */

/* BEGIN Support FCKEditor text alignment */
.rteleft
{
	text-align: left !important;
}

.rteright
{
	text-align: right !important;
}

.rtecenter
{
	text-align: center !important;
}

.rtejustify
{
	text-align: justify !important;
}
/* END Support FCKEditor text alignment */

/* BEGIN Set alignment for radio buttons */
input.form-radio, input.form-checkbox
{
	margin: 0 0 2px;
	vertical-align: baseline;
}
/* END Set alignment for radio buttons*/

/* BEGIN Move bradcrumb from separate post */
h2.with-tabs
{
	margin-top: 0;
	margin-bottom: 0;
}

.breadcrumb
{
	margin: 1em 0 0 0.7em;
}
/* END Move bradcrumb from separate post */

/* BEGIN Increasing distance between buttons */
span.dna-button-wrapper
{
	margin: 0 5px 0 0;
}
/* END Increasing distance between buttons */

/* BEGIN Page validation fix */
.half-width
{
	width: 50%;
}

.third-width
{
	width: 33%;
}

.two-thirds-width
{
	width: 67%;
}
/* END Page validation fix */

/* BEGIN FckEditor bug with link disappearing fixed */
#switch_oFCK_1
{
	display: block !important;
}
/* END FckEditor bug with link disappearing fixed */

.dna-postcontent .calendar-calendar ul li, .dna-postcontent .calendar-calendar ol ul li,
.dna-postcontent div.view div.views-admin-links ul li, .dna-postcontent div.view div.views-admin-links ol ul li
{
  background-image: none;
  padding: 2px;
}

.date-heading h3
{
  text-align: center;
}

tbody, tbody th, tr.even, tr.odd
{
	border: none;
}

form.comment-form input[type="submit"], form.confirmation input[type="submit"]
{
	margin-right: 10px !important;
}

/* BEGIN Taxonomy terms styles in Drupal 7 */
.dna-tags, .dna-tags .field, .dna-tags .field .field-label,
.dna-tags .field .field-items, .dna-tags .field .field-items .field-item
{
	display: inline;
}

.dna-tags .field-item a:after
{
	content: ', ';
}

.dna-tags .field-item:last-child a:after
{
	content: '';
}
/* END Taxonomy terms styles in Drupal 7 */

/* BEGIN Action links support in Drupal7 */
.dna-post ul.action-links li
{
	background-image: none;
	list-style-type: none;
}

.dna-post ul.action-links a
{
    background: url("images/addicon.png") no-repeat scroll 0 transparent;
    background-position: center left;
    line-height: 30px;
    padding-left: 15px;
}
/* END Action links support in Drupal7 */

/* BEGIN Overlay module support */
#overlay #overlay-content #dna-page-background-middle-texture
{
    background-image: none;
}

#overlay-tabs li a, #overlay-tabs li a:active, #overlay-tabs li a:visited, #overlay-tabs li a:hover
{
    background-color: transparent;
    font-weight: normal; 
}
/* END Overlay module support */

/* BEGIN Front page list view support */
#first-time ol
{
    list-style-position: outside;
}
/* END Front page list view support */

/* BEGIN Rtl support in Admin menu */
#toolbar, #toolbar *
{
    text-align: left;
}

#toolbar ul li, #toolbar ul li a {
    float: left;
}
/* END Rtl support in Admin menu */

/* BEGIN Contextual links styles support */
ul.contextual-links li
{
   background-image: none !important;
   padding-left: 4px !important;
}

ul.contextual-links li a
{
   font-family: Arial !important;
   font-style: normal !important;
   font-weight: normal !important;
   font-size: 12px !important;
   text-align: left !important;
   text-decoration: none !important;
}
/* END Contextual links styles support */

/* BEGIN Rtl support for Contextual links */
a.contextual-links-trigger
{
    text-indent: 90px !important;
}
/* END Rtl support for Contextual links */

/* BEGIN Superfish support */
.dna-blockcontent .sf-menu.sf-style-default li 
{
    margin: 0;
    padding: 0;
}
/* END Superfish support */

.status, .status ul li
{   
    color: #234600;
}

.error, .error ul li
{
	color: #660000;
}

/* Begin Drupal Search style */
.dna-header .dna-search label
{
    display: none;
}

.dna-search div.form-item
{
    margin: 0;
}

#block-system-main form.dna-search, .content .search-form.search-page-form.dna-search
{
  line-height: normal !important;
}

.content .search-form.search-page-form.dna-search input[type="submit"] 
{
    top: 0;
    height: 21px;
    zoom: 1;
}

.dna-search .form-wrapper .action input[type="submit"],
.dna-blockcontent .dna-search .container-inline label,
.dna-postcontent .dna-search .container-inline label
{
  display: none;
}
/* End Drupal Search style */

.dna-comment-avatar img
{
    margin: 0;
}

.dna-comment-footer ul
{
    margin: 0 !important;
}

.dna-comment-footer li:before
{
    content: ' ' !important;
}

.block {
    border-width: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

/* Begin Autocomplete styles customization */

#node-form  input[type="text"] {
	margin: 0 !important;
}

#node-form  #autocomplete ul li:before {
	content: none !important;
}

/* End Autocomplete styles customization */

/* Begin BUEditor support */
.dna-commentsform  .bue-ui input:not([type="submit"]),
.dna-commentsform  .bue-ui input:not([type="image"]) {
    width:auto;  
    max-width:none;	
}
/* End BUEditor support */

/* Begin Advanced Forum support */
.forum-post-links ul.links li:before {
    content: none;
}

.forum-post-links ul.links li {
    padding: 0 0 2px 2px;
}
/* End Advanced Forum support */

ul.inline, ul.links.inline {
    display: inline;
    padding-left: 0;
}

ul.inline li {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
}